<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <script language="javascript" type="text/javascript" src="js/jquery-1.4.4.min.js"></script>
        <script language="javascript" type="text/javascript" src="js/jquery.jqplot.min.js"></script>
        <script language="javascript" type="text/javascript" src="js/plugins/jqplot.cursor.min.js"></script>
        <script language="javascript" type="text/javascript" src="js/site.js"></script>
        <link rel="stylesheet" type="text/css" href="css/jquery.jqplot.min.css"/>
        <link rel="stylesheet" type="text/css" href="theme/reset-min.css"/>
        <link rel="stylesheet" type="text/css" href="theme/theme.css"/>

        <script language="javascript" type="text/javascript">
            $(document).ready(function() {
                    setupToggles();
                    configurejQPlot();
                    configureRandomWalk();
            });
        </script>
        <title>(math-with [clojure]</title>
    </head>
    <body>
        <div id="header" class="heading">
        <div id="header-outer">
            <h1>(math-with [clojure]</h1>
        </div>
        </div>
        <div id="container">
            <div class="box">
                <div class="heading boxhead bh-expanded">
                    <img class="trigger" src="./theme/box-collapse.png" alt="collapse"></img>
                    <p><span>Intro:</span>What's this about?</p>
                </div>
                <div class="boxcontent">
                    <p>This site contains a collection of charts with content generated
                    using Clojure. All the charts on this page are dynamically
                    generated, and the charts can be zoomed.  Clicking <img src="./theme/box-collapse.png"/> minimizes a section, 
                    and <img src="./theme/box-expand.png"/> expands.</p>
                    
                    <p>All of the source code can be found here: <a href="https://github.com/ericdwhite/fmath">Github: ericdwhite/fmath</a>.  For issues
                    or comments please drop a note <a href="https://github.com/ericdwhite/fmath/issues">here</a>.</p>
                    
                    <p>As an example the following is 
                    a coin flip random walk.</p>
                    <div id="chartdiv" class="chart"></div>
                    <p class="source"><ul><li><a href="https://github.com/ericdwhite/fmath/blob/master/clj/src/fmath/randwalk.clj">randwalk.clj</a></li></ul></p>
                    <p><button onclick="plot.resetZoom()">Reset Zoom</button>
                       <button onclick="configureRandomWalk()">Generate Again</button></p>
                </div>
            </div>
            <div class="box">
                 <div class="heading boxhead bh-collapsed">
                    <img class="trigger" src="./theme/box-expand.png" alt="expand"></img>
                    <p><span>Tools and Resources:</span></p>
                </div>
                <div class="boxcontent" style="display: none;">
                    <p>There were a couple of tools and resources that were key in building
                    this site and I would like to highlight those:
                    <ul>
                        <li><a href="http://www.jqplot.com/">jqPlot</a> by Chris Leonello.<li>
                        <li><a href="http://clojuredocs.org/">ClojureDocs</a>.</li>
                        <li>Compojure and especially this set of <a href="http://techbehindtech.com/tag/compojure/">tutorials</a>.</li>
                    </ul>
                    <p>Again, the source code can be found here: <a href="https://github.com/ericdwhite/fmath">Github: ericdwhite/fmath</a></p>
                </div>
            </div>
        </div>
        <div id="footer">
            {{>google-analytics}}
            <p>Eric D. White, 2011</p>
        </div>
    </body>
</html>
